<% if not current_user.present? %>
  <section class="main-page">
    <div class="main-page__logo">
      <%= image_tag "look.gif", class: 'main-page--view' %>
    </div>
    <div class="main-page__title">
      Curious? Just ask!<br>
      Openly or anonymously.
    </div>
    <div class="main-page__buttons">
      <div><%= link_to 'Sign up', signup_path, class: 'main-page__btn--colored' %></div>
      <div><%= link_to 'Log in', login_path, class: 'main-page__btn--transparent' %></div>
    </div>
  </section>

  <nav class="main-page__user-list main-page--offset-top">
    <% @users.each do |user| %>
      <div>
        <%= link_to image_tag(user_avatar(user), style: 'width: 90px; border-radius: 50%;'), user_path(user) %>
        <p style="text-align: center;"><%= link_to user.name, user_path(user) %></p>
      </div>
    <% end %>
  </nav>
<% else %>
  <section class="main-content">
    <h1 class="main-content__title">
      Last <%= @users.count %> registered guys!
    </h1>
    <h2>Ask them some questions!</h2>
    <nav class="main-page__user-list">
      <% @users.each do |user| %>
        <div>
          <%= link_to image_tag(user_avatar(user), style: 'width: 90px; border-radius: 50%;'), user_path(user) %>
          <p style="text-align: center;"><%= link_to user.name, user_path(user) %></p>
        </div>
      <% end %>
    </nav>
  </section>
<% end %>
