<section class="user-login">
  <div class="user-login__title">Hey, welcome!</div>
  <div class="user-login__sub-title">Tell us a little about yourself.</div>
  <div class="login-form">
    <%= form_for @user do |f| %>
      <%= render partial: 'users/user_flash' %>
      <div class="login-form__block">
        <%= f.text_field :email, placeholder: "Email", class: "login-form__input" %>
      </div>
      <div class="login-form__block">
        <%= f.text_field :username, placeholder: "Username", class: "login-form__input" %>
      </div>
      <div class="login-form__block">
        <%= f.text_field :name, placeholder: "Name", class: "login-form__input" %>
      </div>
      <div class="login-form__block">
        <%= f.password_field :password, placeholder: "Password", class: "login-form__input" %>
      </div>
      <div class="login-form__block">
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: "login-form__input" %>
      </div>
      <div class="login-form__block">
        <%= submit_tag "Sing up", class: "login-form__btn" %>
      </div>
    <% end %>
  </div>
</section>
