<h1>Welcome to AskMe!</h1>
<h2>Join us right now</h2>
<!-- Form for registration new user -->
<%= form_for @user do |f| %>
  <%= render partial: 'users/user_flash' %>
  <div>
    <%= f.label :email, 'Login (email)' %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :username, 'Username' %>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, 'Password confirmation' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit 'Register' %>
  </div>
<% end %>
