<div class="user-feed">
  <div class="user-feed__avatar">
    <%= image_tag user_avatar(@user), alt: 'Avatar', class: 'user-feed__avatar--rounded' %>
  </div>
  <div class="user-feed__name">
    <%= @user.name %>
  </div>
  <div class="user-feed__username">
    @<%= @user.username %>
  </div>
</div>

<!-- Form for asking question -->
<div class="question-form">
  <div class="question-form__title">
    Ask @<%= @user.username %> question:
  </div>
  <%= form_for(@question_new) do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.text_area :text, placeholder: 'What, when, why... ask' %>
    <%= submit_tag 'Ask question!' %>
  <% end %>
</div>

<% @questions.each do |question| %>
  <%= render partial: 'questions/question', object: question %>
<% end %>
