<div class="user-feed">
  <div class="user-feed__avatar">
    <%= image_tag user_avatar(@user), alt: 'Avatar', class: 'user-feed__avatar--rounded' %>
  </div>
  <div class="user-feed__name">
    <%= @user.name %>
  </div>
  <div class="user-feed__username">
    @<%= @user.username %>
  </div>
</div>

<div class="question-form__container">
  <div class="question-form">
    <div class="question-form__title">
      Ask @<%= @user.username %> question:
    </div>
    <div class="question-form__descr">
      <%= form_for(@question_new) do |f| %>
        <%= f.hidden_field :user_id %>
        <div class="question">
          <%= f.text_area :text, placeholder: 'What, when, why... ask', class: 'question-form__input' %>
        </div>
        <%= submit_tag 'Ask question!', class: 'question-form__btn' %>
      <% end %>
    </div>
  </div>
</div>

<div class="questions-answered">
  <% @questions.each do |question| %>
    <%= render partial: 'questions/question', object: question %>
  <% end %>
</div>
